
<body style="background-color: black; background-image: url('../assets/background_body.jpg');background-repeat: no-repeat; background-size:cover;">
    <div class="container-fluid hv-100 d-flex align-items-center justify-content-center">
            <div class="ml-50">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-group">
                        <input 
                            type="text" 
                            class="form-control width-115 height-40"
                            name="username" placeholder="Enter your username"
                            ngModel required/> 
                        <input 
                            type="hidden" 
                            class="form-control width-115 height-40"
                            name="isNewUser" value="0"
                            ngModel/>  </div>
                    <div class="form-group">
                        <input 
                            type="password"  
                            class="form-control width-115 height-40" 
                            name="password" 
                            placeholder="Enter your password" minlength="8"
                            ngModel required/>
                    </div>
                        <button 
                            type="submit" 
                            class="btn gold-bg-color" 
                            style="color: black" [disabled]="!f.valid"><b>Login</b>
                    </button>
                    <a href="/register" 
                        class="btn gold-bg-color" 
                        style="color: black; margin-left: 15px"><b>Register</b></a>
                </form>
        </div>
    </div>
</body>